@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: #111;
    font-family: 'Poppins';
    color: white;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}

body > * {
    padding: 20px;
    background: #222;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
}

header {
    grid-column: span 3;
}

article {
    grid-column: span 2;
}

header {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

/* Table */

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background: #333;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

tr:nth-child(even) {
    background: #444;
}

th, td {
    padding: 5px;
}

td:has(svg) {
    display: flex;
    justify-content: center;
}

/* article */

article > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

button,input,textarea, a {
    padding: 10px;
    border: none;
    background: #333;
    color: white;
    border-radius: 10px;
    font-size: 1.1rem;
    text-decoration: none;
}

input:focus,textarea:focus {
    outline: none;
}

button:hover, a:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

textarea {
    resize: none;
    margin-top: 20px;
}

/* overview */

#itemOverview {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #111;
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    z-index: 2;
}

#overviewImg {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: scale-down;
}

#overviewImg:not([src]) {
    display: none;
}

#itemOverview button svg {
    display: flex;
    justify-content: center;
}

#itemOverview div {
    display: flex;
    gap: 10px;
}

/* animation */

.itemPurchased {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #111;
    border-radius: 50%;
    padding: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    aspect-ratio: 1;
    animation: itemPurchased 2s forwards;
}

@keyframes itemPurchased {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        
    }

    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
}

/* other */
#reset {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgb(105, 0, 0);
}